@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

$cool-font: 'Press Start 2P', cursive;

body {
    background-color: rgb(218, 254, 255);
  }

h1 {
  font-size: 4em;
  text-align: center;
}

h2 {
  font-size: 3em;
  text-align: center;
}

div {
  font-family: $cool-font;
}

progress {
  background-color: green;
  width: 70%;
  height: 2.5em;
	margin: 10px;
}

.quad {
    position: fixed;
    width: 50%;
    height: 50%;
}